<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/css/releases.css">
      <h1>Showing Releases for <%= toTitleCase(artist)%></h1>

   <div class="container">
      <div class="album py-5 " style="background-image: url('../img/navbar.png'); background-size: cover;background-repeat: no-repeat;">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <% for(let i=0;i<result.items.length;i++){ %>
            <% const coverArtUrl= coverArtArray[i]%>
            <% const parts = coverArtUrl.split('/'); %>
            <% const releaseID = parts[parts.length - 2]; %>
            <div class="col">
                <a href="/releases/<%= releaseID %>">
                <div class="card shadow-sm">
 
                    <img src="<%= coverArtUrl %>" alt="">
                    <div class="card-body">
                    <p class="card-text"><%= result.items[i].title %></p>
                    <div class="d-flex justify-content-between align-items-center">
                       <!-- <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>  -->
                      <!-- <small class="text-body-secondary">9 mins</small>  -->
                    </div>
                  </div>
                </div>
            </a>
              </div>
              <% } %>
              <div class="ms-auto">
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <% if (result.currentPage > 1) { %>
                    <li class="page-item"><a class="page-link" href="/releases?artist=<%= artist %>&page=<%= result.currentPage - 1 %>">Previous</a></li>
                    <% } %>
                    <% for(let i=1;i<result.totalPages+1;i++){ %>
                      <% if(result.currentPage==i) {%>
                      <li class="page-item active"><a class="page-link" href="/releases?artist=<%= artist %>&page=<%= [i] %>"><%= [i] %></a></li>
                      <% }else{ %>
                        <li class="page-item "><a class="page-link" href="/releases?artist=<%= artist %>&page=<%= [i] %>"><%= [i] %></a></li>

                        <% }} %>
                    <% if (result.currentPage < result.totalPages) { %>
                    <li class="page-item"><a class="page-link" href="/releases?artist=<%= artist %>&page=<%= parseInt(result.currentPage) + 1 %>">Next</a></li>
                    <% } %>
                  </ul>
                </nav>
          

            </div>
         </div>
        </div>
      </div>
      