<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/css/viewRelease.css">

<div class="container">
    <div class="row">
    <div class="col-6">
        <div class="card text-white bg-dark mb-3" style="width: 100%">
            <img src="<%= coverArt.data.images[0].image %>" alt="">
            <div class="card-body text-white bg-dark mb-3">
              <h5 class="card-title"><%= data.data.title %></h5>
              <h6 class="card-subtitle mb-3 text-body-white bg-dark"><%= data.data['artist-credit'][0].artist.name %></h6>

              <ul class="list-group list-group-flush text-white bg-dark">
                <% for(let song of tracks){ %>
                    <% const length=getTimeLength(song.length) %>
                <li class="list-group-item text-white bg-dark"><%= song.position %>: <%= song.title %>  <span class="ml-auto"><%= length %></span></li>
                    
                <% } %>
              </ul>

              
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
    </div>
    <% const url = coverArt.data.release; %>
    <% const match = url.match(/\/release\/([0-9a-fA-F-]+)/); %>
    <% const releaseID = match ? match[1] : null %>

    <div class="col-6">
        
        <% if(!user){ %>
            <button class="btn btn-primary" id="review-btn"><a href="/login" style="text-decoration: none; color: white;">Leave A Review!</a></button>
            <% for(review of reviews){ %>
                <div class="card-body text-white bg-dark mb-3" id="review">
                        <p id="review-rating">Rating: <%= review.rating%></p>
                        <p id="review-comment">Review: <%= review.comment %></p>      
                </div>
                <% } %>
            <% }else{ %>
        <button class="btn btn-primary" id="review-btn">Leave A Review!</a></button>
        <div class="card text-white bg-dark mb-3" style="width: 100% ;display: none;" id="review-form">
            <form action="/releases/<%= releaseID %>" method="POST">
                <label for="rating">Rating:</label>
                <input type="range" name="rating" id="rating">
                <label for="comment">Review:</label>
                <textarea id="comment" name="comment" rows="5" cols="33"></textarea>
                <button class="btn btn-success">Post</button>
              </form>
        </div>
        <% for(review of reviews){ %>
        <div class="card-body text-white bg-dark mb-5" id="review">
            <% if(user._id.toString()!==review.author._id.toString()){ %>
                <h6 id="alternative-review-user">User: <%= review.author.username %></h6>
                <p id="alternative-review-rating">Rating: <%= review.rating %></p>
                <p id="alternative-review-comment">Review: <%= review.comment %></p>
                <% } else{%>
            <form action="/releases/<%= releaseID %>/review/<%= review._id %>?_method=PATCH" method="POST" id="edit-form" >
                <h6 id="review-user">User: <%= review.author.username %></h6>
                <p id="review-rating">Rating: <%= review.rating%></p>
                <p id="review-comment">Review: <%= review.comment %></p>
                <button class="btn btn-warning mr-auto" id="edit-review" >Edit</button>
            </form>
                
                <form action="/releases/<%= releaseID %>/review/<%= review._id %>?_method=DELETE" method="POST" >
                    <button class="btn btn-danger mr-auto" id="delete-review">Delete</button>
                </form>
                <% } %>
        </div>
        <% } %>
        <% } %>
    </div>
    <script src="/js/viewRelease.js"></script>
    <script src="/js/viewReleaseLoginBtn.js"></script>

  </div>
</div>

